@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import './config';
@import './utils';

//PADRÃO 

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    position: relative;
}

body {
    font-size: 16px;
    background: map-get($colors, primary-light);
    // overflow: overlay;
    color: map-get($colors, dark);

    @include apply-dark-style(true) {
        background: map-get($colors, dark);
        color: map-get($colors, light);
    }
}

//TIPOGRAFIA

h1,
h2,
h3,
h4,
h5,
h6,
label,
a,
button,
span {
    font-family: "Inter", "Lato", sans-serif;
}

h1 {
    font-size: 48px;
    line-height: 64px;
}

h2 {
    font-size: 38px;
    line-height: 46px;
}

h3 {
    font-size: 32px;
    line-height: 40px;
}

h4 {
    font-size: 28px;
    line-height: 36px;
    font-weight: normal;
}

h5 {
    font-size: 24px;
    font-weight: 28px;
}

h6 {
    font-size: 20px;
    font-weight: 900;
    line-height: 24px;
}

button {
    font-weight: bold;
}

p,
strong,
b {
    font-family: "Lato", sans-serif;
}

p {
    font-size: 18px;
    line-height: 124%;
}

a {
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

//


// Estilizando o scrollBar
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
}

body::-webkit-scrollbar-thumb {
    transition: $transition;
    background-color: map-get($colors, dark-light);
    border-radius: 99px;
}

body.dark::-webkit-scrollbar-thumb {
    transition: $transition;
    background-color: map-get($colors, primary);
    border-radius: 99px;
}


// 