@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}

body {
  font-size: 16px;
  background: #E6F8FF;
  color: #061A40;
}
body.dark {
  background: #061A40;
  color: #FAFBFF;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
a,
button,
span {
  font-family: "Inter", "Lato", sans-serif;
}

h1 {
  font-size: 48px;
  line-height: 64px;
}

h2 {
  font-size: 38px;
  line-height: 46px;
}

h3 {
  font-size: 32px;
  line-height: 40px;
}

h4 {
  font-size: 28px;
  line-height: 36px;
  font-weight: normal;
}

h5 {
  font-size: 24px;
  font-weight: 28px;
}

h6 {
  font-size: 20px;
  font-weight: 900;
  line-height: 24px;
}

button {
  font-weight: bold;
}

p,
strong,
b, small {
  font-family: "Lato", sans-serif;
}

p {
  font-size: 18px;
  line-height: 124%;
}

a {
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
}

body::-webkit-scrollbar-thumb {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #0D398C;
  border-radius: 99px;
}

body.dark::-webkit-scrollbar-thumb {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #14E3D9;
  border-radius: 99px;
}

.btn-primary {
  background: #14E3D9;
  padding: 10px 20px;
  border-radius: 8px;
  display: inline-block;
  font-weight: bold;
  color: #061A40;
}
.btn-primary.big {
  padding: 16px 32px;
  font-size: 1.24rem;
}

.color-primary-100 {
  color: #14e3d9;
}

.bg-primary-100 {
  background: #14e3d9;
}

.border-color-primary-100 {
  border-color: #14e3d9;
}

body.dark .dark\:border-color-primary-100 {
  border-color: #14e3d9;
}

body.dark .dark\:color-primary-100 {
  color: #14e3d9;
}

body.dark .dark\:bg-primary-100 {
  background: #14e3d9;
}

.color-primary-50 {
  color: rgba(20, 227, 217, 0.5);
}

.bg-primary-50 {
  background: rgba(20, 227, 217, 0.5);
}

.border-color-primary-50 {
  border-color: rgba(20, 227, 217, 0.5);
}

body.dark .dark\:border-color-primary-50 {
  border-color: rgba(20, 227, 217, 0.5);
}

body.dark .dark\:color-primary-50 {
  color: rgba(20, 227, 217, 0.5);
}

body.dark .dark\:bg-primary-50 {
  background: rgba(20, 227, 217, 0.5);
}

.color-primary-25 {
  color: rgba(20, 227, 217, 0.25);
}

.bg-primary-25 {
  background: rgba(20, 227, 217, 0.25);
}

.border-color-primary-25 {
  border-color: rgba(20, 227, 217, 0.25);
}

body.dark .dark\:border-color-primary-25 {
  border-color: rgba(20, 227, 217, 0.25);
}

body.dark .dark\:color-primary-25 {
  color: rgba(20, 227, 217, 0.25);
}

body.dark .dark\:bg-primary-25 {
  background: rgba(20, 227, 217, 0.25);
}

.btn-secondary {
  background: #912BE3;
  padding: 10px 20px;
  border-radius: 8px;
  display: inline-block;
  font-weight: bold;
  color: #061A40;
}
.btn-secondary.big {
  padding: 16px 32px;
  font-size: 1.24rem;
}

.color-secondary-100 {
  color: #912be3;
}

.bg-secondary-100 {
  background: #912be3;
}

.border-color-secondary-100 {
  border-color: #912be3;
}

body.dark .dark\:border-color-secondary-100 {
  border-color: #912be3;
}

body.dark .dark\:color-secondary-100 {
  color: #912be3;
}

body.dark .dark\:bg-secondary-100 {
  background: #912be3;
}

.color-secondary-50 {
  color: rgba(145, 43, 227, 0.5);
}

.bg-secondary-50 {
  background: rgba(145, 43, 227, 0.5);
}

.border-color-secondary-50 {
  border-color: rgba(145, 43, 227, 0.5);
}

body.dark .dark\:border-color-secondary-50 {
  border-color: rgba(145, 43, 227, 0.5);
}

body.dark .dark\:color-secondary-50 {
  color: rgba(145, 43, 227, 0.5);
}

body.dark .dark\:bg-secondary-50 {
  background: rgba(145, 43, 227, 0.5);
}

.color-secondary-25 {
  color: rgba(145, 43, 227, 0.25);
}

.bg-secondary-25 {
  background: rgba(145, 43, 227, 0.25);
}

.border-color-secondary-25 {
  border-color: rgba(145, 43, 227, 0.25);
}

body.dark .dark\:border-color-secondary-25 {
  border-color: rgba(145, 43, 227, 0.25);
}

body.dark .dark\:color-secondary-25 {
  color: rgba(145, 43, 227, 0.25);
}

body.dark .dark\:bg-secondary-25 {
  background: rgba(145, 43, 227, 0.25);
}

.btn-dark-light {
  background: #0D398C;
  padding: 10px 20px;
  border-radius: 8px;
  display: inline-block;
  font-weight: bold;
  color: #061A40;
}
.btn-dark-light.big {
  padding: 16px 32px;
  font-size: 1.24rem;
}

.color-dark-light-100 {
  color: #0d398c;
}

.bg-dark-light-100 {
  background: #0d398c;
}

.border-color-dark-light-100 {
  border-color: #0d398c;
}

body.dark .dark\:border-color-dark-light-100 {
  border-color: #0d398c;
}

body.dark .dark\:color-dark-light-100 {
  color: #0d398c;
}

body.dark .dark\:bg-dark-light-100 {
  background: #0d398c;
}

.color-dark-light-50 {
  color: rgba(13, 57, 140, 0.5);
}

.bg-dark-light-50 {
  background: rgba(13, 57, 140, 0.5);
}

.border-color-dark-light-50 {
  border-color: rgba(13, 57, 140, 0.5);
}

body.dark .dark\:border-color-dark-light-50 {
  border-color: rgba(13, 57, 140, 0.5);
}

body.dark .dark\:color-dark-light-50 {
  color: rgba(13, 57, 140, 0.5);
}

body.dark .dark\:bg-dark-light-50 {
  background: rgba(13, 57, 140, 0.5);
}

.color-dark-light-25 {
  color: rgba(13, 57, 140, 0.25);
}

.bg-dark-light-25 {
  background: rgba(13, 57, 140, 0.25);
}

.border-color-dark-light-25 {
  border-color: rgba(13, 57, 140, 0.25);
}

body.dark .dark\:border-color-dark-light-25 {
  border-color: rgba(13, 57, 140, 0.25);
}

body.dark .dark\:color-dark-light-25 {
  color: rgba(13, 57, 140, 0.25);
}

body.dark .dark\:bg-dark-light-25 {
  background: rgba(13, 57, 140, 0.25);
}

.btn-primary-light {
  background: #E6F8FF;
  padding: 10px 20px;
  border-radius: 8px;
  display: inline-block;
  font-weight: bold;
  color: #061A40;
}
.btn-primary-light.big {
  padding: 16px 32px;
  font-size: 1.24rem;
}

.color-primary-light-100 {
  color: #e6f8ff;
}

.bg-primary-light-100 {
  background: #e6f8ff;
}

.border-color-primary-light-100 {
  border-color: #e6f8ff;
}

body.dark .dark\:border-color-primary-light-100 {
  border-color: #e6f8ff;
}

body.dark .dark\:color-primary-light-100 {
  color: #e6f8ff;
}

body.dark .dark\:bg-primary-light-100 {
  background: #e6f8ff;
}

.color-primary-light-50 {
  color: rgba(230, 248, 255, 0.5);
}

.bg-primary-light-50 {
  background: rgba(230, 248, 255, 0.5);
}

.border-color-primary-light-50 {
  border-color: rgba(230, 248, 255, 0.5);
}

body.dark .dark\:border-color-primary-light-50 {
  border-color: rgba(230, 248, 255, 0.5);
}

body.dark .dark\:color-primary-light-50 {
  color: rgba(230, 248, 255, 0.5);
}

body.dark .dark\:bg-primary-light-50 {
  background: rgba(230, 248, 255, 0.5);
}

.color-primary-light-25 {
  color: rgba(230, 248, 255, 0.25);
}

.bg-primary-light-25 {
  background: rgba(230, 248, 255, 0.25);
}

.border-color-primary-light-25 {
  border-color: rgba(230, 248, 255, 0.25);
}

body.dark .dark\:border-color-primary-light-25 {
  border-color: rgba(230, 248, 255, 0.25);
}

body.dark .dark\:color-primary-light-25 {
  color: rgba(230, 248, 255, 0.25);
}

body.dark .dark\:bg-primary-light-25 {
  background: rgba(230, 248, 255, 0.25);
}

.btn-light {
  background: #FAFBFF;
  padding: 10px 20px;
  border-radius: 8px;
  display: inline-block;
  font-weight: bold;
  color: #061A40;
}
.btn-light.big {
  padding: 16px 32px;
  font-size: 1.24rem;
}

.color-light-100 {
  color: #fafbff;
}

.bg-light-100 {
  background: #fafbff;
}

.border-color-light-100 {
  border-color: #fafbff;
}

body.dark .dark\:border-color-light-100 {
  border-color: #fafbff;
}

body.dark .dark\:color-light-100 {
  color: #fafbff;
}

body.dark .dark\:bg-light-100 {
  background: #fafbff;
}

.color-light-50 {
  color: rgba(250, 251, 255, 0.5);
}

.bg-light-50 {
  background: rgba(250, 251, 255, 0.5);
}

.border-color-light-50 {
  border-color: rgba(250, 251, 255, 0.5);
}

body.dark .dark\:border-color-light-50 {
  border-color: rgba(250, 251, 255, 0.5);
}

body.dark .dark\:color-light-50 {
  color: rgba(250, 251, 255, 0.5);
}

body.dark .dark\:bg-light-50 {
  background: rgba(250, 251, 255, 0.5);
}

.color-light-25 {
  color: rgba(250, 251, 255, 0.25);
}

.bg-light-25 {
  background: rgba(250, 251, 255, 0.25);
}

.border-color-light-25 {
  border-color: rgba(250, 251, 255, 0.25);
}

body.dark .dark\:border-color-light-25 {
  border-color: rgba(250, 251, 255, 0.25);
}

body.dark .dark\:color-light-25 {
  color: rgba(250, 251, 255, 0.25);
}

body.dark .dark\:bg-light-25 {
  background: rgba(250, 251, 255, 0.25);
}

.btn-dark {
  background: #061A40;
  padding: 10px 20px;
  border-radius: 8px;
  display: inline-block;
  font-weight: bold;
  color: #061A40;
}
.btn-dark.big {
  padding: 16px 32px;
  font-size: 1.24rem;
}

.color-dark-100 {
  color: #061a40;
}

.bg-dark-100 {
  background: #061a40;
}

.border-color-dark-100 {
  border-color: #061a40;
}

body.dark .dark\:border-color-dark-100 {
  border-color: #061a40;
}

body.dark .dark\:color-dark-100 {
  color: #061a40;
}

body.dark .dark\:bg-dark-100 {
  background: #061a40;
}

.color-dark-50 {
  color: rgba(6, 26, 64, 0.5);
}

.bg-dark-50 {
  background: rgba(6, 26, 64, 0.5);
}

.border-color-dark-50 {
  border-color: rgba(6, 26, 64, 0.5);
}

body.dark .dark\:border-color-dark-50 {
  border-color: rgba(6, 26, 64, 0.5);
}

body.dark .dark\:color-dark-50 {
  color: rgba(6, 26, 64, 0.5);
}

body.dark .dark\:bg-dark-50 {
  background: rgba(6, 26, 64, 0.5);
}

.color-dark-25 {
  color: rgba(6, 26, 64, 0.25);
}

.bg-dark-25 {
  background: rgba(6, 26, 64, 0.25);
}

.border-color-dark-25 {
  border-color: rgba(6, 26, 64, 0.25);
}

body.dark .dark\:border-color-dark-25 {
  border-color: rgba(6, 26, 64, 0.25);
}

body.dark .dark\:color-dark-25 {
  color: rgba(6, 26, 64, 0.25);
}

body.dark .dark\:bg-dark-25 {
  background: rgba(6, 26, 64, 0.25);
}

.btn-success {
  background: #4FE887;
  padding: 10px 20px;
  border-radius: 8px;
  display: inline-block;
  font-weight: bold;
  color: #061A40;
}
.btn-success.big {
  padding: 16px 32px;
  font-size: 1.24rem;
}

.color-success-100 {
  color: #4fe887;
}

.bg-success-100 {
  background: #4fe887;
}

.border-color-success-100 {
  border-color: #4fe887;
}

body.dark .dark\:border-color-success-100 {
  border-color: #4fe887;
}

body.dark .dark\:color-success-100 {
  color: #4fe887;
}

body.dark .dark\:bg-success-100 {
  background: #4fe887;
}

.color-success-50 {
  color: rgba(79, 232, 135, 0.5);
}

.bg-success-50 {
  background: rgba(79, 232, 135, 0.5);
}

.border-color-success-50 {
  border-color: rgba(79, 232, 135, 0.5);
}

body.dark .dark\:border-color-success-50 {
  border-color: rgba(79, 232, 135, 0.5);
}

body.dark .dark\:color-success-50 {
  color: rgba(79, 232, 135, 0.5);
}

body.dark .dark\:bg-success-50 {
  background: rgba(79, 232, 135, 0.5);
}

.color-success-25 {
  color: rgba(79, 232, 135, 0.25);
}

.bg-success-25 {
  background: rgba(79, 232, 135, 0.25);
}

.border-color-success-25 {
  border-color: rgba(79, 232, 135, 0.25);
}

body.dark .dark\:border-color-success-25 {
  border-color: rgba(79, 232, 135, 0.25);
}

body.dark .dark\:color-success-25 {
  color: rgba(79, 232, 135, 0.25);
}

body.dark .dark\:bg-success-25 {
  background: rgba(79, 232, 135, 0.25);
}

.btn-danger {
  background: #E35B14;
  padding: 10px 20px;
  border-radius: 8px;
  display: inline-block;
  font-weight: bold;
  color: #061A40;
}
.btn-danger.big {
  padding: 16px 32px;
  font-size: 1.24rem;
}

.color-danger-100 {
  color: #e35b14;
}

.bg-danger-100 {
  background: #e35b14;
}

.border-color-danger-100 {
  border-color: #e35b14;
}

body.dark .dark\:border-color-danger-100 {
  border-color: #e35b14;
}

body.dark .dark\:color-danger-100 {
  color: #e35b14;
}

body.dark .dark\:bg-danger-100 {
  background: #e35b14;
}

.color-danger-50 {
  color: rgba(227, 91, 20, 0.5);
}

.bg-danger-50 {
  background: rgba(227, 91, 20, 0.5);
}

.border-color-danger-50 {
  border-color: rgba(227, 91, 20, 0.5);
}

body.dark .dark\:border-color-danger-50 {
  border-color: rgba(227, 91, 20, 0.5);
}

body.dark .dark\:color-danger-50 {
  color: rgba(227, 91, 20, 0.5);
}

body.dark .dark\:bg-danger-50 {
  background: rgba(227, 91, 20, 0.5);
}

.color-danger-25 {
  color: rgba(227, 91, 20, 0.25);
}

.bg-danger-25 {
  background: rgba(227, 91, 20, 0.25);
}

.border-color-danger-25 {
  border-color: rgba(227, 91, 20, 0.25);
}

body.dark .dark\:border-color-danger-25 {
  border-color: rgba(227, 91, 20, 0.25);
}

body.dark .dark\:color-danger-25 {
  color: rgba(227, 91, 20, 0.25);
}

body.dark .dark\:bg-danger-25 {
  background: rgba(227, 91, 20, 0.25);
}

.btn-warning {
  background: #FFD930;
  padding: 10px 20px;
  border-radius: 8px;
  display: inline-block;
  font-weight: bold;
  color: #061A40;
}
.btn-warning.big {
  padding: 16px 32px;
  font-size: 1.24rem;
}

.color-warning-100 {
  color: #ffd930;
}

.bg-warning-100 {
  background: #ffd930;
}

.border-color-warning-100 {
  border-color: #ffd930;
}

body.dark .dark\:border-color-warning-100 {
  border-color: #ffd930;
}

body.dark .dark\:color-warning-100 {
  color: #ffd930;
}

body.dark .dark\:bg-warning-100 {
  background: #ffd930;
}

.color-warning-50 {
  color: rgba(255, 217, 48, 0.5);
}

.bg-warning-50 {
  background: rgba(255, 217, 48, 0.5);
}

.border-color-warning-50 {
  border-color: rgba(255, 217, 48, 0.5);
}

body.dark .dark\:border-color-warning-50 {
  border-color: rgba(255, 217, 48, 0.5);
}

body.dark .dark\:color-warning-50 {
  color: rgba(255, 217, 48, 0.5);
}

body.dark .dark\:bg-warning-50 {
  background: rgba(255, 217, 48, 0.5);
}

.color-warning-25 {
  color: rgba(255, 217, 48, 0.25);
}

.bg-warning-25 {
  background: rgba(255, 217, 48, 0.25);
}

.border-color-warning-25 {
  border-color: rgba(255, 217, 48, 0.25);
}

body.dark .dark\:border-color-warning-25 {
  border-color: rgba(255, 217, 48, 0.25);
}

body.dark .dark\:color-warning-25 {
  color: rgba(255, 217, 48, 0.25);
}

body.dark .dark\:bg-warning-25 {
  background: rgba(255, 217, 48, 0.25);
}

.btn-info {
  background: #5AE8DF;
  padding: 10px 20px;
  border-radius: 8px;
  display: inline-block;
  font-weight: bold;
  color: #061A40;
}
.btn-info.big {
  padding: 16px 32px;
  font-size: 1.24rem;
}

.color-info-100 {
  color: #5ae8df;
}

.bg-info-100 {
  background: #5ae8df;
}

.border-color-info-100 {
  border-color: #5ae8df;
}

body.dark .dark\:border-color-info-100 {
  border-color: #5ae8df;
}

body.dark .dark\:color-info-100 {
  color: #5ae8df;
}

body.dark .dark\:bg-info-100 {
  background: #5ae8df;
}

.color-info-50 {
  color: rgba(90, 232, 223, 0.5);
}

.bg-info-50 {
  background: rgba(90, 232, 223, 0.5);
}

.border-color-info-50 {
  border-color: rgba(90, 232, 223, 0.5);
}

body.dark .dark\:border-color-info-50 {
  border-color: rgba(90, 232, 223, 0.5);
}

body.dark .dark\:color-info-50 {
  color: rgba(90, 232, 223, 0.5);
}

body.dark .dark\:bg-info-50 {
  background: rgba(90, 232, 223, 0.5);
}

.color-info-25 {
  color: rgba(90, 232, 223, 0.25);
}

.bg-info-25 {
  background: rgba(90, 232, 223, 0.25);
}

.border-color-info-25 {
  border-color: rgba(90, 232, 223, 0.25);
}

body.dark .dark\:border-color-info-25 {
  border-color: rgba(90, 232, 223, 0.25);
}

body.dark .dark\:color-info-25 {
  color: rgba(90, 232, 223, 0.25);
}

body.dark .dark\:bg-info-25 {
  background: rgba(90, 232, 223, 0.25);
}

.fw-bold {
  font-weight: bold !important;
}

.lg-primary-to-secondary {
  background: linear-gradient(to right, #14E3D9, #912BE3);
}

.vh-100 {
  height: 100vh;
}

.min-vh-100 {
  min-height: 100vh !important;
}

.h-100 {
  height: 100%;
}

.backdrop-none {
  -webkit-backdrop-filter: none !important;
          backdrop-filter: none !important;
}

.backdrop-blur-none {
  -webkit-backdrop-filter: blur(0px) !important;
          backdrop-filter: blur(0px) !important;
}

.w-100 {
  width: 100%;
}

.text-center {
  text-align: center;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.obj-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 762px) {
  .d-md-none {
    display: none;
  }
  .d-md-block {
    display: block;
  }
}
.text-justify {
  text-align: justify;
}

.justify-content-center {
  justify-content: center;
}

.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 12px;
}

.overflow-hidden {
  overflow: hidden;
}

.position-relative {
  position: relative !important;
}

.fw-regular {
  font-weight: 500 !important;
}

.bg-transparent {
  background: transparent !important;
}

.align-items-center {
  align-items: center;
}

.text-upper {
  text-transform: uppercase;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1.4rem;
}

.cursor-pointer {
  cursor: pointer;
}

.radius-20 {
  border-radius: 20px;
}

.text-nowrap {
  word-wrap: nowrap;
}

.object-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.position-absolute {
  position: absolute;
}

.overflow-y-auto {
  overflow-y: auto;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.Inline {
  display: inline-block;
  width: 200px;
  height: 100px;
  margin: 1em;
}

.col-12 {
  grid-column: span 12 !important;
  padding-left: 12px;
  padding-right: 12px;
}

.offset-12 {
  margin-left: calc(100% + 12px) !important;
  margin-right: calc(100% + 12px) !important;
  padding-right: 12px;
}

@media (min-width: 762px) {
  .col-md-12 {
    grid-column: span 12 !important;
    margin-left: 12px;
    margin-right: 12px;
  }
  .offset-md-12 {
    margin-left: calc(100% + 12px) !important;
    padding-right: 12px;
  }
}
.col-11 {
  grid-column: span 11 !important;
  padding-left: 12px;
  padding-right: 12px;
}

.offset-11 {
  margin-left: calc(91.6666666667% + 12px) !important;
  margin-right: calc(91.6666666667% + 12px) !important;
  padding-right: 12px;
}

@media (min-width: 762px) {
  .col-md-11 {
    grid-column: span 11 !important;
    margin-left: 12px;
    margin-right: 12px;
  }
  .offset-md-11 {
    margin-left: calc(91.6666666667% + 12px) !important;
    padding-right: 12px;
  }
}
.col-10 {
  grid-column: span 10 !important;
  padding-left: 12px;
  padding-right: 12px;
}

.offset-10 {
  margin-left: calc(83.3333333333% + 12px) !important;
  margin-right: calc(83.3333333333% + 12px) !important;
  padding-right: 12px;
}

@media (min-width: 762px) {
  .col-md-10 {
    grid-column: span 10 !important;
    margin-left: 12px;
    margin-right: 12px;
  }
  .offset-md-10 {
    margin-left: calc(83.3333333333% + 12px) !important;
    padding-right: 12px;
  }
}
.col-9 {
  grid-column: span 9 !important;
  padding-left: 12px;
  padding-right: 12px;
}

.offset-9 {
  margin-left: calc(75% + 12px) !important;
  margin-right: calc(75% + 12px) !important;
  padding-right: 12px;
}

@media (min-width: 762px) {
  .col-md-9 {
    grid-column: span 9 !important;
    margin-left: 12px;
    margin-right: 12px;
  }
  .offset-md-9 {
    margin-left: calc(75% + 12px) !important;
    padding-right: 12px;
  }
}
.col-8 {
  grid-column: span 8 !important;
  padding-left: 12px;
  padding-right: 12px;
}

.offset-8 {
  margin-left: calc(66.6666666667% + 12px) !important;
  margin-right: calc(66.6666666667% + 12px) !important;
  padding-right: 12px;
}

@media (min-width: 762px) {
  .col-md-8 {
    grid-column: span 8 !important;
    margin-left: 12px;
    margin-right: 12px;
  }
  .offset-md-8 {
    margin-left: calc(66.6666666667% + 12px) !important;
    padding-right: 12px;
  }
}
.col-7 {
  grid-column: span 7 !important;
  padding-left: 12px;
  padding-right: 12px;
}

.offset-7 {
  margin-left: calc(58.3333333333% + 12px) !important;
  margin-right: calc(58.3333333333% + 12px) !important;
  padding-right: 12px;
}

@media (min-width: 762px) {
  .col-md-7 {
    grid-column: span 7 !important;
    margin-left: 12px;
    margin-right: 12px;
  }
  .offset-md-7 {
    margin-left: calc(58.3333333333% + 12px) !important;
    padding-right: 12px;
  }
}
.col-6 {
  grid-column: span 6 !important;
  padding-left: 12px;
  padding-right: 12px;
}

.offset-6 {
  margin-left: calc(50% + 12px) !important;
  margin-right: calc(50% + 12px) !important;
  padding-right: 12px;
}

@media (min-width: 762px) {
  .col-md-6 {
    grid-column: span 6 !important;
    margin-left: 12px;
    margin-right: 12px;
  }
  .offset-md-6 {
    margin-left: calc(50% + 12px) !important;
    padding-right: 12px;
  }
}
.col-5 {
  grid-column: span 5 !important;
  padding-left: 12px;
  padding-right: 12px;
}

.offset-5 {
  margin-left: calc(41.6666666667% + 12px) !important;
  margin-right: calc(41.6666666667% + 12px) !important;
  padding-right: 12px;
}

@media (min-width: 762px) {
  .col-md-5 {
    grid-column: span 5 !important;
    margin-left: 12px;
    margin-right: 12px;
  }
  .offset-md-5 {
    margin-left: calc(41.6666666667% + 12px) !important;
    padding-right: 12px;
  }
}
.col-4 {
  grid-column: span 4 !important;
  padding-left: 12px;
  padding-right: 12px;
}

.offset-4 {
  margin-left: calc(33.3333333333% + 12px) !important;
  margin-right: calc(33.3333333333% + 12px) !important;
  padding-right: 12px;
}

@media (min-width: 762px) {
  .col-md-4 {
    grid-column: span 4 !important;
    margin-left: 12px;
    margin-right: 12px;
  }
  .offset-md-4 {
    margin-left: calc(33.3333333333% + 12px) !important;
    padding-right: 12px;
  }
}
.col-3 {
  grid-column: span 3 !important;
  padding-left: 12px;
  padding-right: 12px;
}

.offset-3 {
  margin-left: calc(25% + 12px) !important;
  margin-right: calc(25% + 12px) !important;
  padding-right: 12px;
}

@media (min-width: 762px) {
  .col-md-3 {
    grid-column: span 3 !important;
    margin-left: 12px;
    margin-right: 12px;
  }
  .offset-md-3 {
    margin-left: calc(25% + 12px) !important;
    padding-right: 12px;
  }
}
.col-2 {
  grid-column: span 2 !important;
  padding-left: 12px;
  padding-right: 12px;
}

.offset-2 {
  margin-left: calc(16.6666666667% + 12px) !important;
  margin-right: calc(16.6666666667% + 12px) !important;
  padding-right: 12px;
}

@media (min-width: 762px) {
  .col-md-2 {
    grid-column: span 2 !important;
    margin-left: 12px;
    margin-right: 12px;
  }
  .offset-md-2 {
    margin-left: calc(16.6666666667% + 12px) !important;
    padding-right: 12px;
  }
}
.col-1 {
  grid-column: span 1 !important;
  padding-left: 12px;
  padding-right: 12px;
}

.offset-1 {
  margin-left: calc(8.3333333333% + 12px) !important;
  margin-right: calc(8.3333333333% + 12px) !important;
  padding-right: 12px;
}

@media (min-width: 762px) {
  .col-md-1 {
    grid-column: span 1 !important;
    margin-left: 12px;
    margin-right: 12px;
  }
  .offset-md-1 {
    margin-left: calc(8.3333333333% + 12px) !important;
    padding-right: 12px;
  }
}
.m-1 {
  margin: 0.8rem;
}

.p-1 {
  padding: 0.8rem;
}

.pt-1 {
  padding-top: 0.8rem;
}

.mt-1 {
  margin-top: 0.8rem;
}

.pb-1 {
  padding-bottom: 0.8rem;
}

.mb-1 {
  margin-bottom: 0.8rem;
}

.pl-1 {
  padding-left: 0.8rem;
}

.ml-1 {
  margin-left: 0.8rem;
}

.pr-1 {
  padding-right: 0.8rem;
}

.mr-1 {
  margin-right: 0.8rem;
}

.m-2 {
  margin: 1.4rem;
}

.p-2 {
  padding: 1.4rem;
}

.pt-2 {
  padding-top: 1.4rem;
}

.mt-2 {
  margin-top: 1.4rem;
}

.pb-2 {
  padding-bottom: 1.4rem;
}

.mb-2 {
  margin-bottom: 1.4rem;
}

.pl-2 {
  padding-left: 1.4rem;
}

.ml-2 {
  margin-left: 1.4rem;
}

.pr-2 {
  padding-right: 1.4rem;
}

.mr-2 {
  margin-right: 1.4rem;
}

.m-3 {
  margin: 2rem;
}

.p-3 {
  padding: 2rem;
}

.pt-3 {
  padding-top: 2rem;
}

.mt-3 {
  margin-top: 2rem;
}

.pb-3 {
  padding-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 2rem;
}

.pl-3 {
  padding-left: 2rem;
}

.ml-3 {
  margin-left: 2rem;
}

.pr-3 {
  padding-right: 2rem;
}

.mr-3 {
  margin-right: 2rem;
}

.m-4 {
  margin: 2.6rem;
}

.p-4 {
  padding: 2.6rem;
}

.pt-4 {
  padding-top: 2.6rem;
}

.mt-4 {
  margin-top: 2.6rem;
}

.pb-4 {
  padding-bottom: 2.6rem;
}

.mb-4 {
  margin-bottom: 2.6rem;
}

.pl-4 {
  padding-left: 2.6rem;
}

.ml-4 {
  margin-left: 2.6rem;
}

.pr-4 {
  padding-right: 2.6rem;
}

.mr-4 {
  margin-right: 2.6rem;
}

.m-5 {
  margin: 3.5rem;
}

.p-5 {
  padding: 3.5rem;
}

.pt-5 {
  padding-top: 3.5rem;
}

.mt-5 {
  margin-top: 3.5rem;
}

.pb-5 {
  padding-bottom: 3.5rem;
}

.mb-5 {
  margin-bottom: 3.5rem;
}

.pl-5 {
  padding-left: 3.5rem;
}

.ml-5 {
  margin-left: 3.5rem;
}

.pr-5 {
  padding-right: 3.5rem;
}

.mr-5 {
  margin-right: 3.5rem;
}

.ball-primary-100 {
  height: 300px;
  width: 300px;
  border-radius: 100%;
  z-index: -1;
  background: #14e3d9;
  filter: blur(72px);
}

.ball-primary-50 {
  height: 300px;
  width: 300px;
  border-radius: 100%;
  z-index: -1;
  background: rgba(20, 227, 217, 0.5);
  filter: blur(72px);
}

.ball-primary-25 {
  height: 300px;
  width: 300px;
  border-radius: 100%;
  z-index: -1;
  background: rgba(20, 227, 217, 0.25);
  filter: blur(72px);
}

.ball-secondary-100 {
  height: 300px;
  width: 300px;
  border-radius: 100%;
  z-index: -1;
  background: #912be3;
  filter: blur(72px);
}

.ball-secondary-50 {
  height: 300px;
  width: 300px;
  border-radius: 100%;
  z-index: -1;
  background: rgba(145, 43, 227, 0.5);
  filter: blur(72px);
}

.ball-secondary-25 {
  height: 300px;
  width: 300px;
  border-radius: 100%;
  z-index: -1;
  background: rgba(145, 43, 227, 0.25);
  filter: blur(72px);
}

.ball-dark-light-100 {
  height: 300px;
  width: 300px;
  border-radius: 100%;
  z-index: -1;
  background: #0d398c;
  filter: blur(72px);
}

.ball-dark-light-50 {
  height: 300px;
  width: 300px;
  border-radius: 100%;
  z-index: -1;
  background: rgba(13, 57, 140, 0.5);
  filter: blur(72px);
}

.ball-dark-light-25 {
  height: 300px;
  width: 300px;
  border-radius: 100%;
  z-index: -1;
  background: rgba(13, 57, 140, 0.25);
  filter: blur(72px);
}

.ball-primary-light-100 {
  height: 300px;
  width: 300px;
  border-radius: 100%;
  z-index: -1;
  background: #e6f8ff;
  filter: blur(72px);
}

.ball-primary-light-50 {
  height: 300px;
  width: 300px;
  border-radius: 100%;
  z-index: -1;
  background: rgba(230, 248, 255, 0.5);
  filter: blur(72px);
}

.ball-primary-light-25 {
  height: 300px;
  width: 300px;
  border-radius: 100%;
  z-index: -1;
  background: rgba(230, 248, 255, 0.25);
  filter: blur(72px);
}

.ball-light-100 {
  height: 300px;
  width: 300px;
  border-radius: 100%;
  z-index: -1;
  background: #fafbff;
  filter: blur(72px);
}

.ball-light-50 {
  height: 300px;
  width: 300px;
  border-radius: 100%;
  z-index: -1;
  background: rgba(250, 251, 255, 0.5);
  filter: blur(72px);
}

.ball-light-25 {
  height: 300px;
  width: 300px;
  border-radius: 100%;
  z-index: -1;
  background: rgba(250, 251, 255, 0.25);
  filter: blur(72px);
}

.ball-dark-100 {
  height: 300px;
  width: 300px;
  border-radius: 100%;
  z-index: -1;
  background: #061a40;
  filter: blur(72px);
}

.ball-dark-50 {
  height: 300px;
  width: 300px;
  border-radius: 100%;
  z-index: -1;
  background: rgba(6, 26, 64, 0.5);
  filter: blur(72px);
}

.ball-dark-25 {
  height: 300px;
  width: 300px;
  border-radius: 100%;
  z-index: -1;
  background: rgba(6, 26, 64, 0.25);
  filter: blur(72px);
}

.ball-success-100 {
  height: 300px;
  width: 300px;
  border-radius: 100%;
  z-index: -1;
  background: #4fe887;
  filter: blur(72px);
}

.ball-success-50 {
  height: 300px;
  width: 300px;
  border-radius: 100%;
  z-index: -1;
  background: rgba(79, 232, 135, 0.5);
  filter: blur(72px);
}

.ball-success-25 {
  height: 300px;
  width: 300px;
  border-radius: 100%;
  z-index: -1;
  background: rgba(79, 232, 135, 0.25);
  filter: blur(72px);
}

.ball-danger-100 {
  height: 300px;
  width: 300px;
  border-radius: 100%;
  z-index: -1;
  background: #e35b14;
  filter: blur(72px);
}

.ball-danger-50 {
  height: 300px;
  width: 300px;
  border-radius: 100%;
  z-index: -1;
  background: rgba(227, 91, 20, 0.5);
  filter: blur(72px);
}

.ball-danger-25 {
  height: 300px;
  width: 300px;
  border-radius: 100%;
  z-index: -1;
  background: rgba(227, 91, 20, 0.25);
  filter: blur(72px);
}

.ball-warning-100 {
  height: 300px;
  width: 300px;
  border-radius: 100%;
  z-index: -1;
  background: #ffd930;
  filter: blur(72px);
}

.ball-warning-50 {
  height: 300px;
  width: 300px;
  border-radius: 100%;
  z-index: -1;
  background: rgba(255, 217, 48, 0.5);
  filter: blur(72px);
}

.ball-warning-25 {
  height: 300px;
  width: 300px;
  border-radius: 100%;
  z-index: -1;
  background: rgba(255, 217, 48, 0.25);
  filter: blur(72px);
}

.ball-info-100 {
  height: 300px;
  width: 300px;
  border-radius: 100%;
  z-index: -1;
  background: #5ae8df;
  filter: blur(72px);
}

.ball-info-50 {
  height: 300px;
  width: 300px;
  border-radius: 100%;
  z-index: -1;
  background: rgba(90, 232, 223, 0.5);
  filter: blur(72px);
}

.ball-info-25 {
  height: 300px;
  width: 300px;
  border-radius: 100%;
  z-index: -1;
  background: rgba(90, 232, 223, 0.25);
  filter: blur(72px);
}

.justify-content-arround {
  justify-content: space-around;
}

.flex-col {
  flex-direction: column;
}

.align-items-end {
  align-items: end;
}

.justify-content-end {
  justify-content: end;
}

.input-container {
  display: flex;
  position: relative;
}
.input-container textarea {
  resize: none;
}
.input-container input, .input-container textarea {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: solid 1px #061A40;
  background: #FAFBFF;
  color: #061A40;
  padding-right: 42px;
}
body.dark .input-container input, body.dark .input-container textarea {
  border: solid 1px #FAFBFF;
  background: #061A40;
  color: #FAFBFF;
}
.input-container .input-icon {
  position: absolute;
  right: 12px;
  top: 8px;
}

.animation-scroll-top {
  animation: fadeTop both 1.2s;
}

@keyframes fadeTop {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.switch-container {
  position: relative;
  height: 64px;
  display: flex;
  justify-content: end;
  align-items: center;
}
.switch-container .switch-actived {
  cursor: pointer;
  padding: 8px 12px;
  display: flex;
  border: 1px;
  background: #fff;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px;
}
.switch-container .switch-dropdown {
  pointer-events: none !important;
  width: 200px;
  transition: all 0.3s ease;
  position: absolute;
  top: 64px;
  overflow: hidden;
  height: 0px !important;
  gap: 8px;
  z-index: -1;
}
.switch-container .switch-dropdown.active {
  transition: all 0.3s ease;
  height: 120px !important;
  pointer-events: visible !important;
  top: 64px;
}
.switch-container .switch-dropdown button {
  cursor: pointer;
  padding: 8px 12px;
  width: 100%;
  display: flex;
  border: 1px;
  background: #fff;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px;
}
.switch-container .switch-dropdown button.active {
  background-color: #14E3D9 !important;
}
.switch-container .switch-dropdown button:nth-child(1) {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.switch-container .switch-dropdown button:nth-child(2) {
  border-radius: 0 !important;
}
.switch-container .switch-dropdown button:nth-child(3) {
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}
@media screen and (max-width: 762px) {
  .switch-container .switch-dropdown {
    z-index: 2 !important;
  }
  .switch-container .switch-dropdown.active {
    height: 120px !important;
    top: -120px !important;
  }
}

#navbar {
  position: fixed;
  width: 100%;
  background: rgba(230, 248, 255, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  height: 64px;
  z-index: 8;
}
body.dark #navbar {
  background: rgba(6, 26, 64, 0.5);
}
#navbar .container {
  display: flex;
  height: 64px;
  align-items: center;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1.4rem;
}
#navbar .container .logo {
  border: none !important;
  background-image: url("./../img/logo light.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 100%;
  width: 100px;
  height: 32px;
}
body.dark #navbar .container .logo {
  background-image: url("./../img/logo dark.svg");
}
#navbar .container nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
#navbar .container nav ul {
  display: flex;
  list-style: none;
  padding-bottom: 0px;
}
#navbar .container nav ul li {
  display: block;
  height: 64px;
  line-height: 64px;
  padding: 0 20px;
}
#navbar .container nav ul li a {
  transition: all 0.3s ease;
  color: #061A40;
  display: block;
  text-decoration: none;
}
body.dark #navbar .container nav ul li a {
  color: #FAFBFF;
}
#navbar .container nav ul li a.active {
  color: #14E3D9 !important;
}
#navbar .container nav ul li a:hover {
  color: #14E3D9 !important;
}
#navbar .navbar-mobile {
  display: none;
}
@media screen and (max-width: 762px) {
  #navbar {
    display: flex;
    background: none !important;
    -webkit-backdrop-filter: blur(0px);
            backdrop-filter: blur(0px);
    flex-direction: column !important;
  }
  #navbar .container {
    flex-direction: column !important;
    justify-content: end;
    position: fixed;
    height: 100vh;
    width: 100%;
    bottom: 100vh;
  }
  #navbar .container .overlay {
    transition: all 0.3s ease;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(6, 26, 64, 0.5);
    -webkit-backdrop-filter: blur(6px);
            backdrop-filter: blur(6px);
  }
  #navbar .container.act {
    bottom: unset !important;
    background: rgba(0, 0, 0, 0.1882352941);
  }
  #navbar .container .logo {
    position: relative;
    z-index: 1;
  }
  #navbar .container .navbar-mobile {
    transition: all 0.3s ease;
    display: flex;
    bottom: calc(-100vh + 64px + 20px);
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background: #14E3D9;
    position: fixed;
    right: 20px;
    z-index: 2;
    border-radius: 100%;
    cursor: pointer;
  }
  #navbar .container nav {
    background-color: #FAFBFF;
    position: absolute;
    width: 100%;
    flex-direction: column;
    padding: 10px 0px;
  }
  body.dark #navbar .container nav {
    background-color: #061A40;
  }
  #navbar .container nav ul {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  #navbar .container nav ul li {
    width: 100%;
  }
  #navbar .container nav ul li a {
    text-align: center;
  }
}

footer .logo {
  border: none !important;
  background-image: url("./../img/logo light.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 100%;
  width: 150px;
  height: 52px;
}
body.dark footer .logo {
  background-image: url("./../img/logo dark.svg");
}

#Galeria {
  margin-top: 160px;
}

.skill-progress {
  width: 100%;
  height: 20px;
  border-radius: 0 99px 99px 0;
}
.skill-progress::-webkit-progress-bar {
  background-color: rgba(6, 26, 64, 0.25);
  border-radius: 0 99px 99px 0;
}
body.dark .skill-progress::-webkit-progress-bar {
  background-color: rgba(20, 227, 217, 0.25);
}
.skill-progress::-webkit-progress-value {
  background-color: #061A40;
  border-radius: 0 99px 99px 0;
}
body.dark .skill-progress::-webkit-progress-value {
  background-color: #14E3D9;
}

.unisuam {
  border: none !important;
  background-image: url("./../img/unisuam dark.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 100%;
  width: 220px;
  height: 80px;
}
body.dark .unisuam {
  background-image: url("./../img/logo da unisuam.png");
}

.section-space {
  padding: 120px 0;
}

#Contact .formContainer {
  position: relative;
  display: flex;
  gap: 42px;
}
#Contact .formContainer .formContact {
  width: 75%;
}
@media screen and (max-width: 762px) {
  #Contact .formContainer .formContact {
    width: 100% !important;
  }
}
#Contact .formContainer .formImage {
  width: 25%;
}
@media screen and (max-width: 762px) {
  #Contact .formContainer .formImage {
    width: 100% !important;
    display: none;
  }
}