@import './config';


//SWITCH DE TEMA
.switch {
    display: flex;
    width: 100px;
    justify-content: space-between;
    padding: 6px;
    align-items: center;
    position: relative;

    [switch-ball] {
        transition: $transition;
        position: absolute;
        width: 24px + 8px;
        height: 24px + 8px;
        transform: translate(-4px, calc(-50% - 2px));
        z-index: -1;
        background: map-get($colors, primary);
        border-radius: 100%;
        top: 50%;

        &.light {
            left: 6px !important;
        }

        &.dark {
            left: 38px !important;
        }

        &.auto {
            left: calc(100% - 30px) !important;
        }
    }

    .light_btn,
    .dark_btn,
    .auto_btn {
        cursor: pointer;

        span {
            color: map-get($colors, dark);

            @include apply-dark-style() {
                color: map-get($colors, light) !important;
            }
        }

    }
}

//
//NAVBAR
#navbar {
    position: fixed;
    width: 100%;
    background: opacity(primary-light, 50);
    backdrop-filter: blur(6px);
    height: $navbar-height;

    @include apply-dark-style() {
        background: opacity(dark, 50);
    }

    .container {
        display: flex;
        height: $navbar-height;
        align-items: center;
        justify-content: space-between;
        @include container();

        .logo {
            background-image: url('./../img/logo light.svg');

            @include apply-dark-style() {
                background-image: url('./../img/logo dark.svg');
            }

            background-repeat: no-repeat;
            background-size: contain;
            background-position: 50% 100%;
            width: 100px;
            height: 32px;
        }

        ul {
            display: flex;
            list-style: none;
            padding-bottom: 0px;

            li {
                display: block;
                height: $navbar-height;
                line-height: $navbar-height;
                padding: 0 20px;

                a {
                    transition: $transition;
                    color: map-get($colors, dark);
                    display: block;

                    @include apply-dark-style() {
                        color: map-get($colors, light);
                    }

                    text-decoration: none;

                    &:hover {
                        color: map-get($colors, primary) !important;
                    }
                }
            }
        }
    }
}





//SECTIONS
//HOME  
#Home {
    p {
        font-size: 1.32rem !important;
    }
}