@import './config';

.switch {
    display: flex;
    width: 100px;
    justify-content: space-between;
    padding: 6px;
    position: relative;

    .switch-ball {
        position: absolute;
        width: 24px + 8px;
        height: 24px + 8px;
        transform: translate(-4px, -4px);
        z-index: -1;
        background: map-get($colors, primary);
        border-radius: 100%;
    }

    &.isDark {
        .switch-ball {
            left: 38px;
        }
    }

    &.isAuto {
        .switch-ball {
            left: unset;
            right: -2px;
        }
    }
}

#navbar {
    position: fixed;
    width: 100%;
    background: map-get($colors, primary-light);
    height: $navbar-height;

    @include apply-dark-style() {
        background: map-get($colors, dark);
    }

    .container {
        display: flex;
        height: $navbar-height;
        align-items: center;
        justify-content: space-between;

        ul {
            display: flex;
            list-style: none;
            padding-bottom: 0px;

            li {
                a {
                    color: map-get($colors, dark);
                    @include apply-dark-style() {
                        color: map-get($colors, light);
                    }
                    text-decoration: none;
                }
            }
        }
    }
}