$colors: (
    primary: #14E3D9,
    secondary: #912BE3,
    dark-light: #0D398C,
    primary-light: #E6F8FF,
    light: #FAFBFF,
    dark: #061A40,

    success: #4FE887,
    danger:  #E35B14,
    warning: #FFD930,
    info: #5AE8DF,
);

$opacity: (
    100: 1,
    50: .5,
    25: .25
);

$spacing: (
    1: 1rem,
    2: 1.8rem,
    3: 2.2rem,
    4: 3.8rem,
    5: 5rem 
);

$positions: (
    top: "t",
    bottom: "b",
    left: "l",
    right: "r"
);