@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import './config';
@import './utils';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    background: map-get($colors, primary-light);

    @include apply-dark-style(true) {
        background: map-get($colors, dark);
    }
}

//TIPOGRAFIA

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Inter", "Lato", sans-serif;
    color: map-get($colors, dark);

    @include apply-dark-style() {
        color: map-get($colors, primary-light);
    }
}

h1 {
    font-size: 48px;
    line-height: 64px;
}

h2 {
    font-size: 38px;
    line-height: 46px;
}

h3 {
    font-size: 32px;
    line-height: 40px;
}

h4 {
    font-size: 28px;
    line-height: 36px;
    font-weight: normal;
}

h5 {
    font-size: 24px;
    font-weight: 28px;
}

h6 {
    font-size: 20px;
    font-weight: 900;
    line-height: 24px;
}

p,
a,
strong,
b {
    font-family: "Lato", sans-serif;
}

p {
    font-size: 18px;
    line-height: 22px;
}

a {
    font-weight: bold;
}

//