@mixin container($spaceX: 0) {
    width: 1280px;
    margin: 0 auto;
    padding: 0 $spaceX;
}

@mixin mobile() {
    @media screen and (max-width: 762px) {
        @content;
    }
}

@mixin apply-dark-style($isBody: false) {
    @if $isBody == false {
        body.dark & {
            @content;
        }
    }
    @else {
        &.dark {
            @content;
        }
    }
}
